* {
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
}

#header {
  /* padding-top: 1%; */
}

#logo-area{
  width: 300px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 1%;

}

.logo{
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  overflow-y: hidden;
  margin-bottom: 0 !important;
  padding-left: 5%;
  line-height: normal;
}


#user-menu {
  float: right;
  position: absolute;
  width: 200px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  top: 0;
  right: 0;
  padding-top: 3%;
  /* border: 1px solid; */
}

.user-icon{
  display: inline;
  padding-right: 10%;
}

#mainmenu{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.menu_item{
  padding: 4px 16px;
  color: inherit;
  text-decoration: none;
  font-size: 2rem;
}

#promo{
  min-width: 100%;
  padding: 10px 10px;
}

.responsive-promo{
  height: 600px;
  width: 97%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#featured_section{
  display: inline-block;
  padding: 10px 10px;
  margin-left: 1%;
}

.feat_item{
  width: 25%;
  height: 600px;
  display: inline-block;
  padding: 10px 10px;
  overflow-y: hidden;
  text-align: center;
  cursor: pointer;
}

.feat_pic{
  min-width: inherit;
  height: 500px;
}

#shoes{
  min-width: 300px;
}

.feat_name{
  margin-bottom: 10px;
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
}

#footer{
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.footer_item{
  margin-left: 30px;
  margin-right: 30px;
  width: 200px;
  text-align: center;
}

.footer_item ul{
  padding: 0 !important;
  list-style: none;
}

.pointer{
  cursor: pointer;
}

#search-bar{
  display: inline-block;
  position: absolute;
  top: 40px;
  right: 220px;
  /* padding-top: 10px; */
}

input[type=text] {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  /* background-image: url('searchicon.png'); */
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1; /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
